<h2>Địa điểm của tôi</h2>
<div class="mt-4 d-flex align-items-center">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="placeCheckAll">
    <label class="form-check-label" for="placeCheckAll">
      Chọn tất cả
    </label>
  </div>
  <select class="form-select form-select-sm place-select-action" id="selectAction" aria-label="Chọn hành động">
    <option value="">-- Hành động --</option>
    <option value="delete">Xóa</option>
  </select>
  <button class="btn btn-sm btn-primary" id="btnAction" disabled>Thực hiện</button>
</div>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col" colspan="2" >#</th>
      <th scope="col">Ảnh đại diện</th>
      <th scope="col">
        Tên địa điểm
        {{{sortable 'name' _sort}}}
      </th>
      <th scope="col">
        Ngày tạo
        {{{sortable 'createdAt' _sort}}}
        </th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    {{#each place}}
    <tr>
      <td>
        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="chk-places[]">
      </td>
      <td scope="row">{{sum @index 1}}</td>
      <td>
        <img class="table-img" src="{{this.image}}" alt="">
      </td>
      <td>{{this.name}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a class="btn btn-link" href="/place/{{this._id}}/edit">Sửa</a>
        <a class="btn btn-link" href="" data-bs-toggle="modal" data-bs-target="#delPlaceModal" data-id="{{this._id}}">Xóa</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="modal fade" id="delPlaceModal" tabindex="-1" aria-labelledby="placeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="placeModalLabel">Xác nhận xóa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa địa điểm này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="btnDelPlace">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var placeId;
        var btnDel = document.getElementById('btnDelPlace');
        var chkCheckAll = $('#placeCheckAll');
        var chkCheckOne = $('input[name="chk-places[]"]');
        var selectAction = $('#selectAction');

        $('#delPlaceModal').on('show.bs.modal', event => {
            const button = event.relatedTarget;
            placeId = button.getAttribute('data-id');
        })

        $('#btnDelPlace').on('click', () => {
              $.post("/place/del", {_id: placeId}, function(result){
                if(result.ok) {
                  location.reload();
                } else {
                  alert(result.msg);
                }
              });
        })

        chkCheckAll.change(function() {
          var isChecked =  $('#placeCheckAll').prop('checked');
          chkCheckOne.prop('checked', isChecked );
        })       
        
        chkCheckOne.change(function() {
          var isCheckedAll =  chkCheckOne.length === $('input[name="chk-places[]"]:checked').length;
          console.log("🚀 ~ isCheckedAll", isCheckedAll)
          chkCheckAll.prop('checked', isCheckedAll);
        })

        selectAction.change(function() {
          var option =  selectAction.val();
          if (option) {
            $('#btnAction').prop('disabled', false );
          } else {
            $('#btnAction').prop('disabled', true );
          }
        })  
    })
</script>