<h2>Địa điểm của tôi</h2>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ảnh đại diện</th>
      <th scope="col">Tên địa điểm</th>
      <th scope="col">Ngày tạo</th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    {{#each place}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>
        <img class="table-img" src="{{this.image}}" alt="">
      </td>
      <td>{{this.name}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a class="btn btn-link" href="/place/{{this._id}}/edit">Sửa</a>
        <a class="btn btn-link" href="" data-bs-toggle="modal" data-bs-target="#delPlaceModal" data-id="{{this._id}}">Xóa</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="modal fade" id="delPlaceModal" tabindex="-1" aria-labelledby="placeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="placeModalLabel">Xác nhận xóa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa địa điểm này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="btnDelPlace">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var placeId;
        var btnDel = document.getElementById('btnDelPlace');
        $('#delPlaceModal').on('show.bs.modal', event => {
            const button = event.relatedTarget;
            placeId = button.getAttribute('data-id');
        })

        $('#btnDelPlace').on('click', () => {
              $.post("/place/del", {_id: placeId}, function(result){
                if(result.ok) {
                  location.reload();
                } else {
                  alert(result.msg);
                }
              });
        })
    })
</script>